<div role="main" class="hero">

  {% block search %}
    {% snippet 'home/snippets/search.html', search_facets=search_facets %}
  {% endblock %}
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/description.html' %}
    {% endblock %}
    <div class="row">
      <div class="col-md-6">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
      <div class="col-md-6">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main" class="module-feeds" style="min-height: 10000px">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        {% block featured_organization %}
          {% snippet 'home/snippets/featured_organization.html' %}
        {% endblock %}
      </div>
      <div class="col-md-6">
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
