{% trans %}
  <p>Opendata Hub là nền tảng cổng dữ liệu nguồn mở hàng đầu thế giới.</p>

  <p>Opendata Hub là một giải pháp phần mềm hoàn chỉnh giúp truy cập và sử dụng dữ liệu bằng cách cung cấp các công cụ
    hợp lý hóa việc xuất bản, chia sẻ, tìm kiếm và sử dụng dữ liệu (bao gồm lưu trữ dữ liệu và cung cấp các API dữ liệu
    mạnh mẽ). và liên minh châu Âu (các chính phủ, công ty và tổ chức quốc gia và khu vực) muốn làm cho dữ liệu của họ
    mở và có sẵn.
  </p>

  <p>Opendata Hub được sử dụng bởi các chính phủ và nhóm người dùng trên toàn thế giới và cung cấp cho nhiều cơ quan
    chức năng và các cổng dữ liệu cộng đồng bao gồm các cổng cho chính phủ địa phương, quốc gia và quốc tế, như Vương
    quốc Anh data.gov.uk và Liên minh châu Âu publicdata.eu , Brazil dados.gov.br , Cổng thông tin chính phủ Hà Lan,
    cũng như các trang web thành phố và đô thị ở Hoa Kỳ, Vương quốc Anh, Argentina, Phần Lan và các nơi khác.

  </p>

{% endtrans %}
