<div class="row">
  <div class="col-md-12">
    <div class="card card-body blur shadow-blur shadow-xl mx-0 mx-md-4 mt-n6 px-0">
      <div id="content" class="container mt-0 mt-md-4 px-0">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="flash-messages">
            </div>
          </div>
        </div>
      </div>


      <section class="pt-4 pb-6">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 my-auto">
              <h3 class="mt-5 mt-lg-0">Bạn biết không?</h3>
              <p class="pe-2 text-justify">
                Dữ liệu mở của cơ quan nhà nước là dữ liệu mở được cơ quan nhà nước có thẩm quyền công bố rộng rãi cho
                cơ quan, tổ chức, cá nhân tự do sử dụng, tái sử dụng, chia sẻ.
              </p>
              <h3 class="mt-5 mt-lg-0">
                Vai trò của Dữ liệu mở
              </h3>
              <p class="pe-2 text-justify">
                Đối với các cơ quan nhà nước, dữ liệu mở giúp Chính phủ cải thiện được tính minh bạch và công khai, giúp
                cải tiến quy trình quản lý, tổ chức dữ liệu, tăng hiệu quả hoạt động trong các cơ quan. Các Doanh nghiệp
                dựa vào nguồn dữ liệu mở để tối ưu hoá hoạt động kinh doanh, cải tiến tiếp thị và phát triển sản phẩm.
                Dữ liệu mở cũng mở cũng giúp định hướng đầu tư kinh doanh, cải thiện cơ hội việc làm và thúc đẩy tăng
                trưởng kinh tế. Đối với người dân, dữ liệu mở giúp người dân có được các thông tin cần thiết để có thể
                so sánh và đối chiếu, tạo điều kiện thuận lợi cho thực hiện quyền dân chủ và tham gia quản lý.
              </p>
              <a href="{% url_for 'home.about' %}" class="text-primary icon-move-right">
                Xem thêm
                <i class="fa fa-arrow-right text-sm ms-1"></i>
              </a>
            </div>
            <div class="col-lg-6" id="you_known">
              <div class="container">
                <div class="row g-3 gx-md-5">
                  <div class="col-6 col-md-6"></div>
                  <div class="col-6 col-md-6">
                    <div class="group-card">
                      <a href="/group/tuy-n-sinh">
                        <img src="/base/images/tuyen-sinh.svg" alt="">
                        <span style="font-size: 15px;">Tuyển sinh</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-6">
                    <div class="group-card">
                      <a href="/group/dao-t-o">
                        <img src="/base/images/dao-tao.svg" alt="">
                        <span style="font-size: 15px;">Đào tạo</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-6">
                    <div class="group-card">
                      <a href="/group/d-an-sinh-vien">
                        <img src="/base/images/du-an.svg" alt="">
                        <span style="font-size: 15px;">Dự án sinh viên</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-6">
                    <div class="group-card">
                      <a href="/group/h-tr-h-c-t-p">
                        <img src="/base/images/hoc-tap.svg" alt="">
                        <span style="font-size: 15px;">Hỗ trợ học tập</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-6"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="pt-4 pb-6">
        <div class="page-header min-vh-100" style="background-image: url('/base/images/bg3.webp');" loading="lazy">
          <div class="container pt-5">
            <div class="row">
              <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                <h1 class="text-white mb-4">Dữ liệu mở là gì?</h1>
                <p class="text-white opacity-8 lead pe-5 me-5 text-justify">
                  Dữ liệu mở là một trong những nội dung thể hiện sự minh bạch, tinh thần kiến tạo của Chính phủ đối
                  với đổi mới sáng tạo,
                  thúc đẩy phát triển chính phủ số, kinh tế số, xã hội số. Hiện nay, đây cũng là nội dung được nhiều
                  tổ chức
                  quốc tế đánh
                  giá để nhìn nhận về sự cởi mở, minh bạch của cơ quan nhà nước. Vậy dữ liệu mở là gì? Tại sao lại
                  cần quan
                  tâm? và làm
                  thế nào để mở dữ liệu. Hãy cùng nhau tìm hiểu các nội dung liên quan đến dữ liệu mở tại đường dẫn
                  dưới
                  đây
                </p>
                <div class="buttons">
                  <!-- <a href="https://opendata.ptit.edu.vn/about" class="btn btn-white mt-4">
                    Tìm hiểu thêm
                  </a> -->
                  <a href="{% url_for 'home.about' %}"
                     target="_blank" class="btn btn-info mt-4">
                    Tìm hiểu thêm
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="pt-4 pb-6" id="count-stats">
        <div class="container">
          <!-- <div class="row justify-content-center text-center mb-7">
            <div class="col-md-3">
              <h1 class="text-gradient text-primary" style="font-size: 3rem"><span id="state1" countTo="41000">0</span></h1>
              <h5>Khối lượng</h5>
              <p>Mức tiêu thụ nhựa tại Việt Nam hiện đang là 41,000g/người/năm,
                 đứng thứ 3 ở Đông Nam Á</p>
            </div>
            <div class="col-md-3">
              <h1 class="text-gradient text-primary" style="font-size: 3rem"><span id="state2" countTo="13">0</span></h1>
              <h5>Phần trăm</h5>
              <p>13 phần trăm tổng lượng rác thải sinh hoạt ở Việt Nam là nhựa</p>
            </div>
            <div class="col-md-3">
              <h1 class="text-gradient text-primary" style="font-size: 3rem"><span id="state3" countTo="38">0</span></h1>
              <h5>Rác thải nhựa</h5>
              <p>12-38 phần trăm rác nhựa không được thu gom và bị thải bỏ trực tiếp ra môi trường</p>
            </div>
          </div> -->

          <div class="row">
            <div class="col-12 col-md-4 mb-5 text-center">
              <img class="d-block mx-auto mb-3" style="height: 100px" src="/base/images/ptit.png" alt="logo">
              <a class="ms-sm-2 py-0" href="http://ptit.edu.vn/" target="_blank">
                Học viện Công nghệ Bưu chính Viễn thông
              </a>
            </div>
            <div class="col-12 col-md-4 mb-5 text-center">
              <img class="d-block mx-auto mb-3" style="height: 100px" src="/base/images/LogoCong.svg" alt="logo">
              <a class="ms-sm-2 py-0" href="https://open.data.gov.vn/" target="_blank">
                Cổng dữ liệu Quốc gia
              </a>
            </div>
            <div class="col-12 col-md-4 mb-5 text-center">
              <img class="d-block mx-auto mb-3" style="height: 100px" src="/base/images/botttt.jpg" alt="logo">
              <a class="ms-sm-2 py-0" href="https://mic.gov.vn/mic_2020/Pages/trangchu_2020.aspx" target="_blank">
                Bộ Thông tin và Truyền thông
              </a>
            </div>
            <!-- <div class="col-12 col-md-2 mb-5 text-center">
              <img class="d-block mx-auto mb-3" style="height: 100px" src="/base/images/ptit.png" alt="logo">
              <a class="ms-sm-2 py-0" href="http://ptit.edu.vn/" target="_blank">
                Học viện Bưu chính Viễn thông
              </a>
            </div>
            <div class="col-12 col-md-2 mb-5 text-center">
              <img class="d-block mx-auto mb-3" style="height: 100px" src="/base/images/LogoCong.svg" alt="logo">
              <a class="ms-sm-2 py-0" href="https://open.data.gov.vn/" target="_blank">
                Cổng dữ liệu Quốc gia
              </a>
            </div>
            <div class="col-12 col-md-2 mb-5 text-center">
              <img class="d-block mx-auto mb-3" style="height: 100px" src="/base/images/botttt.jpg" alt="logo">
              <a class="ms-sm-2 py-0" href="https://mic.gov.vn/mic_2020/Pages/trangchu_2020.aspx" target="_blank">
                Bộ Thông tin và truyền thông
              </a>
            </div> -->
          </div>
        </div>
      </section>

      <section class="py-3" id="extra-information">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h3 class="mb-5">Trang hữu ích</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="card card-plain">
                <div class="card-header p-0 position-relative">
                  <a class="d-block blur-shadow-image">
                    <img src="/base/images/ptit.edu.png" alt="img-blur-shadow"
                         class="img-fluid shadow border-radius-lg" loading="lazy">
                  </a>
                </div>
                <div class="card-body px-0">
                  <h5>
                    <a href="http://ptit.edu.vn/" target="_blank" class="text-dark font-weight-bold">PTIT Portal</a>
                  </h5>
                  <!-- <p>
                    Bạn đang tìm kiếm một số chính sách của Việt Nam? ...
                  </p>
                  <a href="http://ptit.edu.vn/" target="_blank" class="text-primary text-sm icon-move-right">Read
                    more
                    <i class="fa fa-arrow-right text-xs ms-1"></i>
                  </a> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="card card-plain">
                <div class="card-header p-0 position-relative">
                  <a class="d-block blur-shadow-image">
                    <img src="/base/images/open.data.png" alt="img-blur-shadow"
                         class="img-fluid shadow border-radius-lg" loading="lazy">
                  </a>
                </div>
                <div class="card-body px-0">
                  <h5>
                    <a href="https://open.data.gov.vn/" target="_blank" class="text-dark font-weight-bold">OPEN
                      Data</a>
                  </h5>
                  <!-- <p>
                    Dự án giảm thiểu rác thải nhựa ở Việt Nam ...
                  </p>
                  <a href="https://open.data.gov.vn/" target="_blank" class="text-primary text-sm icon-move-right">Đọc thêm
                    <i class="fa fa-arrow-right text-xs ms-1"></i>
                  </a> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="card card-plain">
                <div class="card-header p-0 position-relative">
                  <a class="d-block blur-shadow-image">
                    <img src="/base/images/web-botttt.png" alt="img-blur-shadow"
                         class="img-fluid shadow border-radius-lg" loading="lazy">
                  </a>
                </div>
                <div class="card-body px-0">
                  <h5>
                    <a href="https://mic.gov.vn/mic_2020/Pages/trangchu_2020.aspx" target="_blank"
                       class="text-dark font-weight-bold">Bộ Thông tin và Truyền thông</a>
                  </h5>
                  <!-- <p>
                    Thông tin về rác thải nhựa ở Việt Nam ...
                  </p>
                  <a href="https://mic.gov.vn/mic_2020/Pages/trangchu_2020.aspx" target="_blank"
                    class="text-primary text-sm icon-move-right">Đọc thêm
                    <i class="fa fa-arrow-right text-xs ms-1"></i>
                  </a> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="card card-plain">
                <div class="card-header p-0 position-relative">
                  <a class="d-block blur-shadow-image">
                    <img src="/base/images/web-aita.png" alt="img-blur-shadow"
                         class="img-fluid shadow border-radius-lg" loading="lazy">
                  </a>
                </div>
                <div class="card-body px-0">
                  <h5>
                    <a href="https://aita.gov.vn/" target="_blank" class="text-dark font-weight-bold">Cục Chuyển đổi
                      số Quốc Gia</a>
                  </h5>
                  <!-- <p>
                    Với sứ mệnh ngăn chặn sự suy thoái môi trường tự nhiên của Việt Nam
                  </p>
                  <a href="https://aita.gov.vn/" target="_blank" class="text-primary text-sm icon-move-right">Đọc thêm
                    <i class="fa fa-arrow-right text-xs ms-1"></i>
                  </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="my-5 pt-5">
        <div class="container">
          <div class="row g-3">
            <div class="col-md-6 m-auto">
              <h4>Cổng dữ liệu mở Quốc gia</h4>
              <p class="mb-4 ">
                Việt Nam đang tích cực triển khai cung cấp dữ liệu mở. Năm 2022, chúng ta xếp thứ 81 trên 187 quốc
                gia. Tăng 10 bậc so
                với năm 2020.
              </p>
              <!-- <div class="row">
              <div class="col-8">
                <div class="input-group input-group-outline">
                  <label class="form-label">Email Here...</label>
                  <input type="text" class="form-control mb-sm-0">
                </div>
              </div>
              <div class="col-4 ps-0">
                <button type="button" class="btn bg-gradient-info mb-0 h-100 position-relative z-index-2">Subscribe</button>
              </div>
            </div> -->
            </div>
            <div class="col-md-5 ms-auto">
              <div class="position-relative">
                <img class="max-width-50 w-100 position-relative z-index-2" src="/base/images/laptop.png"
                     alt="image">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
